	{% include base.html %}

	<div class="events">
	{% assign sortedEvents = site.events | sort: 'enddate' %}
	{% assign counter = 0 | integer %}

	{% for e in sortedEvents %}
	    {% capture currentDate %}{{ 'now' | date: "%Y%m%d-%R" | strip }}{% endcapture %}

	    {% if e.enddate > currentDate and e.hide==false %}
		    {% if counter < 1 or site.multiple_events_shown %}
				<!-- Header with Background Image -->
				<header class="event-header card box-shadow">
			      <h1 class="event-title display-3 text-center"><a class="event-link" href="{{ base }}{{ e.url }}">{{ e.title }}</a></h1>
				  <div class="container">
				    <div class="row align-items-center">
				      <div class="col-lg-12">
						{% if site.home_show_event_images %}
				      	<img class="event-image" src="{{ base }}{{ e.header_image }}" />
						{% endif %}
				        <h2 class="display-3 text-center text-white mt-4">{{ e.subtitle }}</h2>
						<div class="event-excerpt">{{ e.excerpt }}</div>
				      </div>
				    </div>
				  </div>
				</header>

		        {% assign counter = counter | plus:1 %}

		    {% endif %}
	    {% endif %}

    {% endfor %}
	</div>
