
<div class="container">
	<div class="row">

		{% assign image_files = site.static_files | where: "image", true %} 
		{% for myimage in image_files %}
		<div
			class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
			{% assign image_id = myimage.modified_time | date: "%Y%m%d-%h-%M-%L" %}
			
			<img src="{{ site.baseurl }}{{ myimage.path }}" class="img-preview" data-toggle="modal"
				data-target="#id-{{ image_id }}" />

			<div id="id-{{ image_id }}" class="modal fade" tabindex="-1" role="dialog">
				<div class="modal-dialog gallery-modal-dialog">
					<div class="modal-content">
						<div class="modal-body">
							<img src="{{ myimage.path }}" class="img-responsive">
						</div>
					</div>
				</div>
			</div>
		</div>

		{% endfor %}

	</div>
</div>
