//
body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}


.site-header {
  height: 50vh;
  min-height: 200px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.posts {
	margin-top: 50px;	
}

.posts .card {
	font-size: 100%;
	padding: 20px;
}

.posts .card .meta {
	font-size: 100%;
	color: #6c757d!important;
}

.box-shadow {
	box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.post-link {
  color: #343a40!important;
}

.toc-entry a {
  color: #343a40!important;
}

.card {
  height: 100%;
}

blockquote {
  font: 14px/22px normal helvetica, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
} 


// GALLERY

.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}

.gallery_product .img-preview
{
    height: 60px;
}

.gallery-modal-dialog {
    position: relative;
    display: table; /* This is important */ 
    overflow-y: auto;    
    overflow-x: auto;
    width: auto;
    min-width: 300px;
}

.gallery-modal-dialog img {
    max-width: 800px;
}
