<!DOCTYPE html>
<html>
  {% include base.html %}

  {% include head.html %}
  <body style="padding: 0px">
  	<div class="widget">
  		<div class="widget_title">
  			{{ site.widget_title }}
  		</div>
  		
		<!-- POSTS -->
	  	<div class="widget_posts">
		    {% for post in site.posts %}
		    {% if post.hide==false %}
	    	<div class="widget_posts_row">
		        
			    <div class="widget_card box-shadow">
		  		 	<header class="posts_item_header">
			      	   <h5 class="mb-0">
			              <a class="post-link" href="{{ post.url }}" target="_top">
			                {{ post.title }}
			              </a>
			           </h5>
			            <span class="meta small">
			              {{ post.date | date: "%B %-d, %Y" }}
			            </span>
			          </header>		
			          <div class="widget_content">
			        	   {{ post.content | strip_html | truncate: "150" }}
			        	   <a href="{{ site.url }}{{ post.url }}" class="post-link" target="_top">Read more</a>
			          </div>
			    </div>
			</div>
			{% endif %}
		    {% endfor %}
		</div>
	</div>
  </body>
</html>
